* {
    margin: 0%;
    padding: 0%;
}
body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: poppins;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 97px;
    background-color: rgb(1, 1, 38);
}
nav ul {
    display: flex;
    justify-content: space-around;
    
}
nav ul li {
    
    list-style: none;
    margin: 0 23px;
}
nav ul li a {
    
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    
   color: rgb(153, 153, 226);
   font-size: 1.02rem;
}
main hr {
    border: 0;
    background-color: #9c97f1;
    height: 1.2px ;
    margin: 40px 84px;

}
.left{
    font-size: 1.5rem;
}
.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;
    
}
.firstsection > div {
    width: 30%;
}
.leftsection {
    font-size: 3rem;
    
}
.leftsection .buttons {
    padding: 50px 0;
}
.leftsection .btn {
    padding: 12px;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    
}
.rightsection {
    width: 80%;
    margin: 50px 0;
}
.purple {
    color: rgb(170, 107, 228);
}
#element {
    color: rgb(170, 107, 228);
}
.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;

}
.secondsection h1 {
    font-size: 1.9rem;

}
.textgray {
    color: grey;
}
.secondsection .box {
    background-color: white;
    width: 76vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.secondsection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 106px;
}
.image-top {
        width: 23px;
        position: relative;
        top: -32px;
        left: -9px;
}
.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
}
.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 10px;
}
footer {
    background-color: #0e0e1a;
    

}
.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}
.footer ul {
    list-style: none;
}
.footer > div {
    width: 223px;
}
footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px 0;
}
.contactform {
    font-family: poppins;
    padding: 0 520px;
    
    
}
.contactform h1 {
    font-family: poppins;
    text-align: center;
    padding-top: 144px;
}
.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input {
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}
#emailHelp {
    font-size: 10px;
    color: gray;
    margin: 0 5px;
}
#form-check {
    flex-direction: row;
}
#form-check input {
    width: 24px;
    margin: 3px 0;
}
.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: #1e2167;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: #1e2167;
}
.intro h2 {
    font-family: poppins;
    margin: 12px;
}
.skillcontainer {
    padding: 12px;
}
.skillitem {
    display: flex;
    align-items: center;
}
.skill {
    width: 265px;
    height: 6px;
    background-color: #9c97f1;
    border: 2px solid blue;
}
.hundered {
    width: 265px;
}
.fifty {
    width: 125px;
}
.t5 {
    width: 75px;
    background-color: #9c97f1;
}
